torch==2.6.0
numpy==2.2.4
opencv-python==4.11.0.86
scikit-learn==1.6.1
tensorboard==2.19.0
timm
einops
absl-py>=0.4
grpcio>=1.48.2
markdown>=2.6.8
packaging
protobuf>=3.19.6
setuptools>=41.0.0
six>1.9
tensorboard-data-server<0.8.0,>=0.7.0
werkzeug>=1.0.1
joblib>=1.2.0
scipy>=1.6.0
threadpoolctl>=3.1.0
fsspec
jinja2
networkx
typing-extensions>=4.10.0
filelock
sympy==1.13.1
mpmath<1.4,>=1.1.0
MarkupSafe>=2.0


torch>=1.12.0
torchvision
timm>=0.6.7
numpy
scikit-learn
tensorboard